<script type="text/javascript">
  <% if logged_in? %>
    window.currentUser = <%= render(
      "api/users/user.json.jbuilder",
      user: current_user).html_safe %>
  <% end %>

  window.assets = { favicon: "<%= image_path("favicon.ico") %>" }

</script>

<div id="root">
  MeetNow! is not supported by your browser.
  The use of Google Chrome is highly recommended.
</div>
