@mixin button-margin-left {
  margin-left: 10px;
}

@mixin signup-button {
  background-color: $meetup-red;
  border-color: $meetup-red;
  color: white;
  padding: 10px 25px;
  margin: 0 14px 0 20px;
  min-width: 105px;
  &:hover {
    background-color: $red-hover;
  }
}

@mixin hover-blue {
  &:hover {
    color: $link-blue;
  }
}

@mixin hover-red {
  &:hover {
    color: $red-hover;
  }
}

@mixin hover-red-white {
  &:hover {
    background-color: rgb(182, 14, 24);
    color: white;
  }
}

@mixin hover-gray {
  &:hover {
    background-color: #eee;
  }
}

@mixin next-button {
  background-color: $meetup-red;
  border-color: $meetup-red;
  font-size: 16px;
  border-radius: 3px;
  padding: 10px 0;
  color: white;
  width: 85px;
  text-align: center;

  &:hover {
    background-color: $red-hover;
  }
}

@mixin cancel-button {
  background-color: $cancel-gray;
  color: white;
  font-size: 12px;
  border-radius: 3px;
  padding: 10px;

  &:hover {
    background-color: $hover-gray;
  }
}
