$meetup-red: #ed1c40;
$link-blue: #1f24cc;
$guest-login: rgb(5, 37, 252);
$blue-hover: rgb(10, 41, 251);
$red-hover: rgb(182, 14, 24);
$location-blue: rgb(6, 34, 185);

$black: #333;
$error: #D30303;
$notice: rgba(#4bc127, 0.85);
$search-bar-background: rgb(31, 35, 37);
$cancel-gray: #B6B6B6;
$hover-gray: #878080;
