@mixin flex-row-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-row-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-row-space-around {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@mixin flex-row-start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

@mixin flex-row-start-start {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

@mixin flex-row-end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

@mixin flex-column-start {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

@mixin flex-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin flex-column-center-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin flex-column-start-start {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
}

@mixin flex-space-between {
  display: flex;
  justify-content: space-between;
}

@mixin flex-column-start-no-center {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
