::-webkit-input-placeholder {
   font-style: italic;
	 font-size: 14px;
}
:-moz-placeholder {
   font-style: italic;
	 font-size: 14px;
}
::-moz-placeholder {
   font-style: italic;
	 font-size: 14px;
}
:-ms-input-placeholder {
   font-style: italic;
	 font-size: 14px;
}
