@import 'base/buttons';
@import 'base/flexbox';

.calendar-box-on-group {
  border: 1px solid lightgray;
  margin: 14px 0;
  border-radius: 3px;
  width: 750px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.2), 0 5px 100px rgba(0,0,0,0.3);
}

.calendar-time {
  padding: 10px;
  padding-bottom: 20px;
  font-size: 20px;
  font-weight: 500;
}

.calendar-title {
  @include hover-blue;
  font-size: 22px;
  padding: 10px;
}

.calendar-rsvp-flex {
  @include flex-row-space-between;
}

.calendar-attendee-box {
  display: flex;
  flex-wrap: wrap;
  padding: 12px;
  max-width: 450px;
}

.calendar-attendee-pic {
  width: 45px;
  height: 45px;
  border-radius: 8px;
  margin: 5px;
}

.calendar-rsvp-button {
  @include signup-button;
  font-weight: 500;
  padding: 10px 12px;
  border-radius: 4px;
  width: 70px;
  margin: 0 12px;
  text-align: center;
}

.calendar-going-box {
  @include flex-column-start;
}

.calendar-event-location {
  font-size: 13px;
  padding: 3px 10px;
  font-style: italic;
}

.calendar-event-description {
  font-size: 15px;
  padding: 3px 10px;
  width: 450px;
}

.calendar-count-going {
  margin-top: 12px;
}

// Media query
@media screen and (max-width: 730px) {
  .calendar-box-on-group {
    width: 370px;
    height: auto;
    margin-top: 12px;
  }

  .location-description {
    display: none;
  }

  .calendar-attendee-pic {
    width: 30px;
    height: 30px;
  }
}
