.contact-info {
  position: relative;
  transition: all 0.3s ease 0s;

  .contact-info-box {
    visibility: visible;;
    opacity: 1;
  }
}

.contact-info-box {
  transition: all 0.3s ease 0s;
  height: 70px;
  width: 150px;
  position: absolute;
  top: -15px;
  right: -160px;
  background-color: white;
  border-radius: 4px;

  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;

  box-shadow: rgba(0,0,0,0.54) 0 3px 8px 0;
  i {
    margin: 23px 10px;
    cursor: pointer;
  }

  a {
    color: $blue-hover;
    &:hover {
      color: $meetup-red;
    }


  }


}
