.create-group-form-container {
  width: 600px;
}

.create-group-from {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 600px;

  // position: absolute;

  // display: block;
  // border: 1px solid lightgrey;

  .form-text {
    height: 80px;
  }

  input {
    margin: 10px;
    padding: 8px 30px;
  }

  label {
    margin: 10px;
  }


}
