.create-group-from {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;

  // position: absolute;

  // display: block;
  border: 1px solid lightgrey;

  .form-text {
    height: 80px;
  }


}
