@import 'base/buttons';
@import 'base/layout';
@import 'base/flexbox';
@import 'base/colors';

.event-mid-content-box {
  @include border-gray;
  margin: 14px 0 0 14px;
}

.event-info-box {
  min-height: 550px;
  width: 100%;
}

.event-show-right-side {
  height: 550px;
  min-width: 160px;
  border-radius: 3px;
  overflow: scroll;
  border-left: 1px solid lightgray;
}

.rsvp-buttons-box {
  @include flex-row-space-around;
  @include event-show-margin-padding;
}

.attend-event-button {
  @include signup-button;
  min-width: 60px;
  font-size: 14px;
  margin: 0 5px;
  padding: 9px;
}

.your-rsvp-text {
  font-size: 13px;
  font-weight: 500;
  min-width: 70px;
}

.event-show-date {
  margin-top: 14px;
  margin-left: 14px;
}

.event-show-time {
  margin: 14px;
  li {
    font-size: 12px;
    margin-bottom: 3px;
  }
}

.event-show-location {
  margin: 15.5px;
  li {
    font-size: 12px;
  }
}

.event-show-attending {
  font-weight: 500;
  margin: 16px 0 0 14px;
}

.event-show-left-right {
  @include flex-row-space-between;
  align-items: flex-start;
}

.event-show-description {
  line-height: 130%;
  font-size: 14px;
  margin: 14px;
}

.event-show-name {
  margin: 12px;
  font-size: 20px;
}

.update-event-button {
  @include signup-button;
  margin: 12px;
}

.fa-clock-o,
.fa-map-marker {
  margin-right: 20px;
}

.rsvp-buttons-box-login {
  @include flex-row-center;
  @include event-show-margin-padding;
}

.event-members-list {
  margin: 14px;
  max-height: 440px;
  overflow: scroll;
  margin-top: 10px;
}

.member-and-pic-box {
  @include flex-row-start;
  @include hover-blue;
}

.pro-pic {
  width: 50px;
  height: 50px;
  border-radius: 5px;
}

.member-name {
  font-size: 15px;
  font-weight: 500;
}

#event-map-container {
  height: 150px;
  width: 100%;
  min-width: 200px;
}

.yes-btn {
  background-color: $green;
}

.no-btn {
  background-color: $no-gray;
}

// Media query
@media screen and (max-width: 1000px) {
  .event-show-right-side {
    display: none;
  }
}

@media screen and (max-width: 790px){
  .event-mid-content-box {
    width: 100%;
    margin: 12px auto;
  }
}

@media screen and (max-width: 500px) {
  .event-show-right-side {
    display: block;
  }
}
