@import 'base/flexbox';
@import 'base/input-type';
@import 'base/buttons';

.create-event-form {
  @include flex-column;
  margin: 18px;
  font-size: 13px;
  font-weight: 500;
}

.event-form-inputs-box {
  display: flex;
  flex-direction: column;

  textarea,
  input[type="text"],
  input[type="password"],
  input[type="email"],
  input[type='date'] {
    @include input-type;
    background-color: white;
  }
}

.event-form-button-box {
  display: flex;
  .event-cancel-button {
    background-color: $cancel-gray;
    border-color: $cancel-gray;

    &:hover {
      background-color: $hover-gray;
    }
  }
}

.event-delete-button {
  @include cancel-button;
  &:hover {
    background-color: black;
  }
}

@media screen and (max-width: 500px) {
  .event-delete-button {
    margin-left: 14px;
  }

}
