.attend-event-button {
  background-color: $meetup-red;
  color: #fff;
  border-color: $meetup-red;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
  font-size: 14px;
  width: 120px;
  margin: 8px;

  &:hover {
    background-color: rgb(182, 14, 24);
  }
}

.event-show-name {
  font-size: 40px;
}

.event-show-date {
  margin-left: 14px;
}

.event-show-time {
  margin-left: 14px;

  li {
    font-size: 12px;
    margin-bottom: 3px;
  }
  margin: 14px;
}

.event-show-location {
  margin: 14px;

  li {
    font-size: 10px;
  }

}


.event-show-attending {
  margin-left: 14px;
  margin-bottom: 40px;

}

.event-show-description {
  margin-top: 14px;
  margin-left: 14px;
  border-radius: 3px;
  height: auto;
  width: 200px;
  min-width: 640px;
  margin-bottom: 30px;
  .event-description {
    width: 600px;
  }

  .event-show-name {
    margin: 12px;
  }
}
