@import 'base/layout';
@import 'base/buttons';
@import 'base/flexbox';

// Event index on Group show page
.event-index-box {
  margin-left: 14px;
  border-radius: 3px;
}

.events-box-on-group {
  @include border-gray;
  margin-top: 14px;
}

.event-time {
  padding: 10px;
  font-size: 12px;
}

.event-title {
  @include hover-blue;
  font-size: 22px;
  padding: 10px;
}

.rsvp-flex {
  @include flex-row-space-between;
}

.rsvp-button-join,
.rsvp-button {
  @include signup-button;
  min-width: 110px;
}

.rsvp-button {
  background-color: $green;
  padding: 10px 25px;
  margin: 0 14px 0 20px;
  min-width: 60px;
  border-radius: 3px;
  text-align: center;
}

.event-description {
  line-height: 120%;
  padding: 3px 10px;
  max-width: 450px;
}

.event-location {
  font-size: 12px;
  padding: 3px 10px;
  font-style: italic;
}

.attendee-box {
  display: flex;
  flex-wrap: wrap;
  padding: 12px;
  max-width: 500px;
}

.attendee-pic {
  width: 40px;
  height: 40px;
  border-radius: 15px;
  margin-right: 8px;
}

.no-events-box {
  @include border-gray;
  @include flex-column-center-center;
  margin: 14px 0 14px 14px;
}

.going-box {
  display: flex;
  justify-content: space-between;
}

.count-going {
  margin-top: 12px;
}

.fa.fa-map-marker.fa-1x.map-close-marker {
  margin-right: -20px;
}

// No Upcoming Events
.display-no-events {
  margin: 12px 0;
}

.create-event {
  @include signup-button;
  margin: 30px 0;
}

.event-going-box {
  @include flex-column-start;
}

// Media query
@media screen and (max-width: 730px) {
  .event-index-box {
    margin: 12px auto;
  }

  .events-box-on-group {
    height: auto;
    width: 100%;
  }

  .location-description {
    display: none;
  }

  .attendee-pic {
    width: 30px;
    height: 30px;
  }

  .rsvp-button,
  .rsvp-button-join {
    font-size: 14px;
  }
}
