@mixin flex-row-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin hover-blue {
  &:hover {
    color: $link-blue;
  }
}

@mixin hover-red {
  &:hover {
    color: $meetup-red;
  }
}

.footer-buttons {
  @include flex-row-center;
  background-color: black;
  text-align: center;
  height: 15px;
  padding: 20px;
  color: white;

  a {
    @include hover-red;
    color: white;
  }
}

.footer-button,
.footer-icons {
  @include hover-red;
  a {
    font-size: 20px;
    padding-top: 5px;
  }
}

.copyright {
  padding: 3px 0;
}
