.footer-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 200;
  padding: 15px 20px;
  font-family: 'Montserrat', sans-serif;
  color: white;
  border-bottom: 1px solid #eee;
  background-color: black;
  height: 16px;
  text-align: center;

  a {
    text-decoration: none;
    color: white;
    &:hover {
      color: $meetup-red;
      transform: scale(1.1);
    }
  }

  .footer-icons {
    margin: 0 15px;
    img {
      width: 28px;
      height: 28px;

      &:hover {
        transform: scale(1.15);
      }
    }
  }

  .linked-footer-icons {
    padding-right: 80px;
  }

}

.footer-button {
  cursor: pointer;
  &:hover {
    color: $meetup-red;
    transform: scale(1.1);
  }
}
