@import 'base/input-type';
@import 'base/flexbox';
@import 'base/colors';
@import 'base/buttons';

.modal-container {
  position: absolute;
  top: 20px;
  right: 40px;
  bottom: 40px;
  left: 40px;
  height: 380px;
  width: 400px;
  margin: auto;
  border-radius: 4px;
  z-index: 10;
  background: white;
  outline: none;
  border: 1px solid lightgray;
}

.event-form-header {
  @include flex-column-center-center;
  background-color: $meetup-red;
  width: 100%;
  padding: 25px 0;
  color: white;
}

.modal-overlay {
  position: fixed;
  overflow-y: scroll;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9;
  background: rgba(204, 204, 204, 0.85);
}

.modal-createEvent {
  height: 570px;
}

.modal-createGroup {
  height: 520px;
}

.modal-login {
  height: 385px;
}

.modal-signup {
  height: 475px;
}

.form-header {
  @include flex-column-start-start;
  border-bottom: 1px solid lightgray;
  font-size: 18px;
  color: $meetup-red;
  padding: 20px;
}

.nav-link-text {
  margin-top: 13px;
  font-size: 13px;
  color: black;
}

.nav-links-box {
  @include flex-row-end;
  font-weight: 500;
}

.nav-link-button {
  margin-top: 12px;
  font-size: 13px;
  margin-left: 5px;
  font-weight: 500;
  color: $link-blue;
}

.signup-form,
.login-form,
.create-group-form {
  @include flex-column;
  margin: 18px;
  font-size: 13px;
  font-weight: 500;
}

.name-box,
.email-address-box,
.password-box {
  @include flex-column;
  label {
    margin-bottom: 3px;
  }
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type='date'] {
  @include input-type;
}

.group-form-inputs-box {
  display: flex;
  flex-direction: column;
}

.login-guest-login {
  display: flex;
  .guest-login {
    background-color: $link-blue;
    border-color: $link-blue;

    &:hover {
      background-color: $blue-hover;
    }
  }
}


// Media query
@media screen and (max-width: 450px) {
  .form-header {
    @include flex-column-start;
    border-bottom: 1px solid lightgray;
    font-size: 15px;
    color: $meetup-red;
    padding: 10px;
  }

  .modal-container {
    top: 20px;
    left: 7px;
    height: 380px;
    width: 360px;
  }

  .modal-signup {
    height: 450px;
  }

  .modal-login {
    height: 360px;
  }
}
