.modal-container {
  position: absolute;
  top: 20px;
  right: 40px;
  bottom: 40px;
  left: 40px;
  height: 380px;
  width: 400px;
  margin: auto;
  border-radius: 4px;
  z-index: 10;
  background: white;
  outline: none;
  border: 1px solid lightgray;
}

.modal-overlay {
  position: fixed;
  overflow-y: scroll;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9;
  background: rgba(204, 204, 204, 0.85);
}

@mixin flex-column-start {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

@mixin flex-row-end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.modal-createGroup {
  height: 520px;
}

.modal-login {
  height: 385px;
}

.modal-signup {
  height: 475px;
}

.form-header {
  @include flex-column-start;
  border-bottom: 1px solid lightgray;
  font-size: 18px;
  color: $meetup-red;
  padding: 20px;
}

.nav-link-text {
  margin-top: 13px;
  font-size: 13px;
  color: black;
}

.nav-links-box {
  @include flex-row-end;
  font-weight: bold;
}

.nav-link-button {
  margin-top: 12px;
  font-size: 13px;
  margin-left: 5px;
  font-weight: bold;
  color: $link-blue;
}

.signup-form,
.login-form,
.create-group-form {
  display: flex;
  flex-direction: column;
  margin: 18px;
  font-size: 13px;
  font-weight: bold;
}

.name-box,
.email-address-box,
.password-box {
  display: flex;
  flex-direction: column;
  label {
    margin-bottom: 3px;
  }
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type='date'] {
  padding: 8px 4px;
  font-size: 15px;
  background-color: rgb(250, 255, 189);
  margin-bottom: 20px;
  border-radius: 5px;
  border-style: none;
  border: 1px solid #aaa;
}

.group-form-inputs-box {
  display: flex;
  flex-direction: column;
}

.login-guest-login {
  display: flex;
  .guest-login {
    background-color: $link-blue;
    border-color: $link-blue;

    &:hover {
      background-color: $blue-hover;
    }
  }
}


// Media query
@media screen and (max-width: 450px) {
  .form-header {
    @include flex-column-start;
    border-bottom: 1px solid lightgray;
    font-size: 15px;
    color: $meetup-red;
    padding: 10px;
  }

  .modal-container {
    top: 20px;
    left: 0;
    height: 380px;
    width: 400px;
  }

  .modal-signup {
    height: 440px;
  }

  .modal-login {
    height: 350px;
  }
}
