.width-setter {
  width: 900px;
  margin: 0 auto;
}

.group-show-page {
  width: 70%;
  min-width: 850px;
  margin: 0 auto;
  height: 100%;
  margin-bottom: 60px;

  .group-name {
    margin-top: 10px;
    padding: 50px;
    background-color: $meetup-red;
    color: white;
    height: 40px;
    font-size: 40px;
    border: 1px solid #ccc;
    text-align: center;
    border-radius: 3px;


  }

  .group-header-buttons {
    display: flex;
    border-top: 9px solid lightpink;
    margin-top: -3px;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-radius: 3px;
  }

  //Home Member Photos
  .left-side-buttons {
    display: flex;
    justify-content: flex-start;
    width: 100%;

    a {
      text-decoration: none;
    }

    li {
      display: flex;
      align-items: center;
      color: gray;
      padding: 10px 14px;
      border-radius: 5px;
      cursor: pointer;
      font-size: 14px;
      margin: 3px;
      margin-top: 9px;
      height: 18px;

      &:hover {
        background-color: rgb(182, 14, 24);
        color: white;
      }
    }

  }

  .content-container {
    display: flex;
    justify-content: space-between;
  }

  .group-side-bar-info {
    max-width: 300px;
    border: 1px solid #ccc;
    margin-top: 14px;
    border-radius: 3px;
    font-size: 12px;


    section {
      margin: 9px;

      .side-bar-location {
        font-size: 16px;
        color: rgb(6, 34, 185);
        margin-bottom: 4px;
      }

      .text-info-inner-box {

        height: auto;

        .side-aboutus {
          border: 1px solid #ccc;
          padding: 10px;
          text-align: center;
          margin: 20px;
          font-weight: bold;
          cursor: pointer;
          border-radius: 3px;

          &:hover {
            background-color: #eee;
          }
        }

        .side-bar-info {
          margin-top: 10px;
        }

        .group-members-list {
          max-height: 200px;
          overflow: scroll;
          margin-top: 10px;

          .member-and-pic-box {
            display: flex;
            justify-content: flex-start;
            align-items: center;

            a {
              text-decoration: none;
              color: black;

              &:hover {
                color: $blue-hover;
              }
            }
            .pro-pic {
              width: 25px;
              height: 25px;
              border-radius: 8px;
              margin: 10px 20px 2px 0;
            }

            .member-name {
              font-size: 11px;
            }
          }
        }
      }

    }


  }

  .group-show-description {
    border: 1px solid #ccc;
    margin-top: 14px;
    margin-left: 14px;
    border-radius: 3px;
    height: auto;
    width: auto;
    min-width: 640px;

    h1 {
      margin-bottom: 20px;
      font-size: 20px;
      padding: 10px;
    }

    p {
      font-size: 12px;
      padding: 0 10px 10px 12px;
      line-height: 130%;
    }

  }







}


.join-group-button {
  background-color: $meetup-red;
  color: #fff;
  border-color: $meetup-red;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
  font-size: 14px;
  width: 135px;
  margin: 8px;

  &:hover {
    background-color: rgb(182, 14, 24);
  }
}

.loading {
  text-align: center;
  margin-top: 200px;
  height: 400px;

}

.group-side-bar-pic {
  width: 170px;
  height: 170px;
  padding: 12px;
  border-bottom: 1px solid #ccc;
}

.side-bar-info {
  display: flex;
  justify-content: space-between;
}


// Event detail on Group show page
.events-box-on-group {
  font-family: sans-serif;
  border: 1px solid #ccc;
  margin-top: 14px;
  // margin-left: 14px;
  border-radius: 3px;

  .event-time {
    padding: 10px;

    li {
      font-size: 11px;
    }
  }

  .event-description {
    line-height: 120%;
    font-size: 12px;
    padding: 3px 10px;
    width: 500px;
  }

  .event-location {
    font-size: 12px;
    padding: 3px 10px;
    font-style: italic;
  }

}

.event-title > a {
  font-family: sans-serif;
  font-size: 22px;
  text-decoration: none;
  color: black;
  padding: 10px;

  &:hover {
    color: rgb(14, 53, 226);
  }
}

.attendee-box {
  display: flex;
  flex-wrap: wrap;
  padding: 12px;
  max-width: 450px;

  .attendee-pic {
    width: 40px;
    height: 40px;
    border-radius: 15px;
    margin-right: 8px;
  }

}

.rsvp-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .rsvp-button {
    background-color: $meetup-red;
    color: #fff;
    border-color: $meetup-red;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
    font-size: 14px;
    width: 90px;
    margin: 8px;
    text-align: center;

    &:hover {
      background-color: $red-hover;
    }
  }
}

.no-events-box {
  border: 1px solid #ccc;
  margin: 14px 0 14px 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 3px;
}

.create-event {
  background-color: rgb(182, 14, 24);
  color: #fff;
  border-color: $meetup-red;
  padding: 15px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
  font-size: 14px;

  margin: 15px 0px;

  &:hover {
    background-color: $meetup-red;
  }
}

.going-box {
  display: flex;
  justify-content: space-between;

  .count-going {
    margin-right: 40px;
  }
}

.display-no-events {
  margin-top: 12px;
}


.fa.fa-map-marker.fa-1x.map-close-marker {
  margin-right: -20px;
}

.event-index-box {
  // max-height: 1000px;
  // overflow: scroll;
  // border-bottom: 1px solid lightgray;
  margin-left: 14px;
  border-radius: 3px;
}
