.group-index-box {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: wrap;
  width: 100%;

  .group-banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 5px auto;
    padding: 60px;
    background-color: $meetup-red;
    color: white;
    height: 50px;
    font-size: 30px;

    .sum-group {
      margin-top: 10px;
      font-size: 14px;
      color: rgba(255,255,255,.7);
    }

    .group-banner > h1 {
      font-family: 'Roboto', sans-serif;
    }

  }

  .group-index-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 30px;
    width: 1000px;
    height: auto;
    min-width: 900px;



    li {
      width: 300px;
      height: 180px;
      margin: 10px;
      position: relative;



      img {
        z-index: -1;
        width: 300px;
        height: 180px;
        filter: brightness(0.5);
        cursor: pointer;
        border-radius: 5px;

        transition: transform 0.2s ease;

        &:hover {
          transform: scale(1.035);
        }
      }



      p {
        color: white;
        position: absolute;
        bottom: 0;
        left: 10px;
        margin-bottom: 40px;
        font-size: 14px;

        width: auto;
        height: auto;
        text-decoration: none;
      }

      h4 {
        font-size: 20px;
        position: absolute;
        font-weight: bold;
        top: 60px;
        left: 10px;
        color: white;
      }

    }
  }
}

.search-group-index-box {
  display: flex;
  flex-direction: column;
}
