@import 'base/flexbox';
@import 'base/colors';
@import 'base/buttons';
@import 'base/layout';

.width-setter {
  margin: 0 auto;
  width: 70%;
}

.group-show-page {
  width: 80%;
  margin: 0 auto;
  height: auto;
  margin-bottom: 60px;
}

.group-name {
  @include border-gray;
  padding: 30px 50px;
  background-color: $meetup-red;
  color: white;
  font-size: 40px;
  text-align: center;
}

.group-header-buttons {
  @include border-gray;
  @include flex-row-space-between;
  border-top: 9px solid lightpink;
  margin-top: -3px;
}

.left-side-buttons {
  @include flex-row-start;
  align-items: baseline;
}

.create-event-button,
.home-button,
.group-show-buttons {
  @include hover-red-white;
  color: gray;
  padding: 11px;
  border-radius: 5px;
  font-size: 15px;
  margin: 3px;
}

.group-side-bar-pic {
  border-bottom: 1px solid #ccc;
  width: 170px;
  height: 170px;
  padding: 12px;
}

.side-bar-info {
  @include flex-row-space-between;
}

.side-bar-passion {
  margin: 10px 0;
  font-size: 14px;
}

.about-passion {
  color: $meetup-red;
}

.content-container {
  @include flex-row-start-start;
}

.side-bar-location {
  color: $location-blue;
  margin-bottom: 8px;
  font-size: 14px;
}

.side-founded {
  font-size: 12px;
}

.side-aboutus {
  @include border-gray;
  @include hover-gray;
  padding: 12px 50px;
  text-align: center;
  margin: 20px 6px 12px 8px;
  font-weight: 500;
  font-size: 14px;
}

.member-and-pic-box {
  @include flex-row-start;
}

.pro-pic {
  width: 40px;
  height: 40px;
  border-radius: 7px;
  margin: 10px 20px 2px 0;
}

.member-name {
  @include hover-blue;
  font-size: 14px;
}

.group-members-list {
  max-height: 300px;
  overflow: scroll;
  margin-top: 10px;
}

.side-bar-info {
  margin-top: 10px;
}

.side-bar-text-box {
  margin: 10px;
}

.group-side-bar-info {
  @include border-gray;
  max-width: 200px;
  margin-top: 14px;
  min-height: 600px;
}

.group-show-description {
  @include border-gray;
  margin-top: 14px;
  margin-left: 14px;
  height: auto;
}

.group-show-description-detail {
  font-size: 15px;
  padding: 0 10px 10px 12px;
  line-height: 130%;
}

.group-show-description-title {
  margin-bottom: 20px;
  font-size: 20px;
  padding: 10px;
}

.join-group-button {
  @include signup-button;
  margin: 9px;
}

.loading {
  text-align: center;
  margin-top: 200px;
  height: 400px;
}

.mid-content-box {
  width: 100%;
}

#map-container {
  height: 100%;
  width: 100%;
}

// Media query
@media screen and (max-width: 970px) {
  .founder-modal-button {
    display: none;
  }
}

@media screen and (max-width: 802px) {
  .group-name {
    font-size: 30px;
  }

  .group-show-buttons {
    display: none;
  }

  .group-side-bar-info {
    display: none;
  }

  .event-index-box,
  .group-show-description {
    margin: 12px auto;
  }


}

// Are you sure
.group-header-buttons {
  position: relative;
  transition: all 0.3s ease 0s;
  .sure-form-box {
    display: flex;
    justify-content: center;
    opacity: 1;
  }
}

.sure-form-box {
  transition: all 0.3s ease 0s;
  width: 120px;
  position: absolute;
  top: -125%;
  right: 2%;
  background-color: $green;
  border-radius: 3px;

  display: none;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
}

.sure-buttons-box {
  @include flex-row-center;
  z-index: 10;
}

.sure-buttons {
  padding: 10px 5px;
  width: 60px;
  border-radius: 3px;
  color: white;
  &:hover {
    background-color: $purple;
  }
}

.sure-arrow-up-pos {
  position: relative;
  @include flex-column-center;
}

.are-you-sure-text {
  padding: 7px;
  font-size: 14px;
  border-top: 1px solid lightgray;
  width: 106px;
  text-align: center;
  color: green;
}

.sure-arrow-up {
  position: absolute;
  top: 88%;
  right: 43%;
  width: 15px;
  height: 15px;
  transform: rotate(45deg);
  background-color: $green;
  z-index: -10;
}

@media screen and (max-width: 600px) {
  .group-name {
    font-size: 20px;
  }

  .group-show-buttons {
    display: none;
  }

  .group-show-description {
    margin: 0;
    margin-top: 12px;
    width: 370px;
  }

  .group-show-page {
    width: 370px;
  }

  .width-setter {
    width: 370px;;
    margin: 0 auto;
  }

  .edit-group-button {
    display: flex;
  }
}
