.group-show-page {
  width: 65%;
  margin: auto;
  height: 100%;
  margin-bottom: 60px;
  //
  // .group-name-nav {
  //   // display: flex;
  //   // justify-content: space-around;
  //   // align-items: center;
  //   // flex-direction: column;
  //   border: 1px solid #ccc;
  //   width: auto;

  //
  // }

  .group-name {
    // width: 1000px;
    margin-top: 10px;
    padding: 50px;
    background-color: $meetup-red;
    color: white;
    height: 40px;
    font-size: 40px;
    border: 1px solid #ccc;
    text-align: center;
    border-radius: 3px;

  }

  .group-header-buttons {
    display: flex;
    border-top: 9px solid lightpink;
    margin-top: -3px;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-radius: 3px;
  }

  //Home Member Photos
  .left-side-buttons {
    display: flex;
    justify-content: flex-start;
    width: 100%;

    li {
      display: flex;
      align-items: center;
      color: gray;
      // border: 1px solid #ccc;
      padding: 10px 14px;
      border-radius: 5px;
      cursor: pointer;
      font-size: 14px;
      margin: 3px;
      margin-top: 9px;
      height: 18px;
      // margin-right: 15px;
      // margin-top: 15px;


      &:hover {
        background-color: rgb(5, 99, 167);
        color: white;
      }
    }
  }

  // content container
  .content-container {
    display: flex;
    justify-content: space-between;
  }

  .group-side-bar-info {
    max-width: 300px;
    border: 1px solid #ccc;
    margin-top: 14px;
    border-radius: 3px;
    font-size: 12px;


    section {
      margin: 9px;

      .side-bar-location {
        font-size: 16px;
        // text-align: center;
        color: rgb(6, 34, 185);
        margin-bottom: 4px;
      }

      .text-info-inner-box {

        height: auto;

        .side-aboutus {
          border: 1px solid #ccc;
          padding: 10px;
          text-align: center;
          margin: 20px;
          font-weight: bold;
          cursor: pointer;

          &:hover {
            background-color: #eee;
          }
        }

        .side-bar-info {
          margin-top: 10px;
        }

        .group-members-list {
          max-height: 200px;
          overflow: scroll;
          margin-top: 10px;

          .member-and-pic-box {
            display: flex;
            justify-content: flex-start;
            align-items: center;

            .pro-pic {
              width: 25px;
              height: 25px;
              border-radius: 8px;
              margin: 10px 20px 2px 0;
            }

            .member-name {
              font-size: 11px;
            }
          }
        }
      }

    }


  }

  .group-show-description {
    // width: 1000px;
    border: 1px solid #ccc;
    margin-top: 14px;
    margin-left: 14px;
    border-radius: 3px;
    height: auto;
    width: auto;

    h1 {
      margin-bottom: 20px;
      font-size: 20px;
      padding: 10px;
    }

    p {
      font-size: 12px;
      padding: 0 10px 10px 12px;
    }

  }





}


.join-group-button {
  background-color: $meetup-red;
  color: #fff;
  border-color: $meetup-red;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
  font-size: 14px;
  // margin-right: 15px;
  // margin-top: 15px;
  width: 120px;
  margin: 8px;

  &:hover {
    background-color: rgb(182, 14, 24);
  }
}

.loading {
  text-align: center;
  margin-top: 200px;
  height: 400px;

}

.group-side-bar-pic {
  width: 170px;
  height: 170px;
  padding: 12px;
  border-bottom: 1px solid #ccc;
}

.side-bar-info {
  display: flex;
  justify-content: space-between;
}

.mid-content-box {
  width: 100%;
}

// Event detail on Group show page
.events-box-on-group {
  font-family: sans-serif;
  border: 1px solid #ccc;
  margin-top: 14px;
  margin-left: 14px;
  border-radius: 3px;

  .event-time {
    padding: 10px;

    li {
      font-size: 11px;
    }
  }

  .event-description {
    font-size: 12px;
    padding: 10px;
  }

  .event-location {
    font-size: 12px;
    padding: 10px;
  }

}

.event-title > a {
  font-family: sans-serif;
  font-size: 18px;
  text-decoration: none;
  color: black;
  padding: 10px;
}
