@mixin flex-row-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-row-start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

@mixin flex-row-end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

@mixin button-margin-left {
  margin-left: 10px;
}

@mixin signup-button {
  background-color: $meetup-red;
  border-color: $meetup-red;
  color: white;
  padding: 10px 25px;
  margin: 0 14px 0 20px;

  &:hover {
    background-color: $red-hover;
  }
}

@mixin hover-blue {
  &:hover {
    color: $link-blue;
  }
}

@mixin hover-red {
  &:hover {
    color: $red-hover;
  }
}

.header-mid,
.header-logo-name {
  @include hover-blue;
  font-family: 'Leckerli One', cursive;
  font-size: 47px;
  color: $meetup-red;
  text-align: center;
  padding: 2px 0;
}

.welcome-header {
  @include flex-row-center;
  background-color: white;
  z-index: 1;
  position: relative;
  width: 100%;
}

.header-left,
.header-mid,
.header-right {
  width: 33%;
}

.header-left {
  @include flex-row-start;
}

.header-right {
  @include flex-row-end;
}

.signup-button {
  @include signup-button;
}

.login-button {
  @include hover-blue;
  font-weight: bold;
  margin-right: 10px;
}

.welcome-msg {
  font-size: 16px;
  font-weight: bold;
}

.profile-thumbnail {
  width: 52px;
  height: 52px;
  border-radius: 30px;
  margin: 0 14px 0 18px;
  cursor: pointer;
}

.meetnow-button,
.new-group-button {
  @include button-margin-left;
  @include hover-blue;
  font-weight: bold;
}

.new-group-button {
  color: $meetup-red;
  margin-left: 15px;
}
