.welcome-header {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  // border-bottom: 1px solid grey;
  font-size: 16px;
  font-weight: 500;
  z-index: 999;
  font-family: 'Montserrat', sans-serif;
  position: relative;

  img {
    max-width: 90px;
    max-height: 100%;
  }

  div {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-height: 85px;
  }

  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    padding: 0;
    margin: 0 auto;
    width: 90px;
    transform: rotate(-10deg);

  }



  li {
    text-decoration: none;
  }

  ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-width: 200px;

  }


  .signup-button {
    background-color: $meetup-red;
    color: #fff;
    border-color: $meetup-red;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
    font-weight: 200;
  }

  a {

    color: rgba(0,0,0,.87);
    font-size: 16px;
    // line-height: 1.45;
    // min-width: 300px;
    // height: 20px;
    // padding: 10px;
    // margin: 20px 0;
    // border-radius: 3px;
    text-decoration: none;

  }

  .login-button {
    cursor: pointer;
  }

  .create-button {
    margin-right: 42px;
  }

}
