.welcome-header {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 500;
  z-index: 1;
  position: relative;

  .right-header-buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .signup-button {
      background-color: $meetup-red;
      color: #fff;
      border-color: $meetup-red;
      padding: 10px 20px;
      border-radius: 3px;
      cursor: pointer;
      font-weight: 200;
      margin: 0 14px 0 18px;

      &:hover {
        background-color: rgb(182, 14, 24);
      }
    }

    .login-button {
      cursor: pointer;

      &:hover {
        color: $link-blue;
      }
    }

    .profile-button {
      cursor: pointer;
      color: $meetup-red;

      &:hover {
        color: $link-blue;
      }
    }

    .profile-thumbnail {
      width: 50px;
      height: 50px;
      border-radius: 30px;
      margin: 0 14px 0 18px;
      cursor: pointer;
    }
  }

  .left-header-buttons {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .guest-login-button {
      background-color: $link-blue;
      color: #fff;
      border-color: $link-blue;
      padding: 10px 20px;
      border-radius: 3px;
      cursor: pointer;
      font-weight: 200;

      &:hover {
        background-color: $blue-hover;
      }
    }

    .meetnow-button {
      margin: 0 14px;

      &:hover {
        color: $blue-hover;
      }
    }

    .new-group-button {
      cursor: pointer;
      color: $meetup-red;
      text-align: center;

      &:hover {
        color: rgb(161, 34, 34);
      }
    }

  }

  img {
    max-width: 90px;
    max-height: 100%;
  }

  .mid-image-logo {
    display: flex;
    justify-content: space-between;
    max-height: 85px;
    margin-right: 40px;
  }

  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    padding: 0;
    margin: 0 auto;
    width: 90px;
    transform: rotate(-10deg);

    &:hover {
      transition: transform 1.5s;
      transform: rotate(0deg);
    }
  }

  a {
    color: rgba(0,0,0,.87);
    font-size: 16px;
    text-decoration: none;
  }

}
