@import 'base/flexbox';
@import 'base/colors';
@import 'base/input-type';

.search-bar {
  @include flex-row-space-between;
  border: 1px solid black;
  background-color: $search-bar-background;
  color: white;
  border-radius: 4px;
  height: 75px;
  margin: 0 20px;
  margin-top: -32px;
}

.search-bar-left {
  @include flex-row-center;
  margin: 12px;
  position: relative;

  .search-input {
    @include input-type;
    width: 230px;
    margin: 0 15px;
    background-color: white;
  }
}

#search-icon {
  position: absolute;
  left: 220px;
  color: black;
}

.search-bar-right {
  margin-right: 25px;
}

.groups-button {
  border: 1px solid #ccc;
  padding: 12px 26px;
  font-size: 18px;
  width: 140px;
  background-color: gray;
}

.calendar-button {
  border: 1px solid #ccc;
  padding: 12px 26px;
  font-size: 18px;
  width: 140px;
}
