.search-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  border: 1px solid black;
  width: 850px;
  background-color: rgb(31, 35, 37);
  color: white;
  border-radius: 3px;
  height: 75px;


  .search-input {
    padding: 10px;
    padding-right: 55px;
    font-size: 18px;
    font-style: italic;
    border-radius: 3px;
    font-family: sans-serif;
    margin-right: 12px;

  }

  .search-bar-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 12px;
  }



  .search-bar-right {
    // display: flex;
    // justify-content: flex-end;
    // align-items: center;
    // margin-right: 10px;
    // border: 1px solid #ccc;
    // padding: 12px;
    margin-right: 10px;
  }

  .calendar-button {
    border: 1px solid #ccc;
    padding: 12px 22px;
    font-size: 18px;
    background-color: gray;
    border-radius: 3px;
    cursor: pointer;


  }

  .groups-button {
    border: 1px solid #ccc;
    padding: 12px 32px;
    font-size: 18px;
    border-radius: 3px;
    cursor: pointer;

  }
}
