.welcome-explore-header {
  width: auto;
  background: white;
  height: 180px;
  text-align: center;
  top: -100;
  font-size: 60px;
  padding-top: 60px;
}
.welcome-explore-below-header {

  height: 600px;
  background-color: white;
  padding: 0 20px;
  width: auto;
  margin: auto;

  .explore-pics {
    width: 300px;
    height: 186px;
    border-radius: 10px;
    border: 1px solid #eee;
    transition: transform 0.2s ease;

    &:hover {
      transform: scale(1.06);
    }
  }

  .explore-first-section, .explore-second-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
  }

  .explore-pic-links {
    padding: 0 10px;

  }

  p {
    text-align: center;
    font-size: 20px;
    height: 20px;
    margin: 10px;
  }
}
