@import 'base/flexbox';
@import 'base/buttons';
@import 'base/web-placeholder';

.footer-buttons {
  @include flex-row-space-between;
  background-color: black;
  text-align: center;
  height: 15px;
  padding: 20px;
}

.join-group,
.footer-button,
.footer-links-icon {
  color: white;
  &:hover {
    color: $red-hover;
    font-weight: 500;
  }
}

.footer-links-icon {
  font-size: 20px;
}

.copyright {
  color: white;
  padding: 3px 0;
  font-size: 14px;
}

.fa-globe,
.fa-github,
.fa-linkedin,
.fa-angellist {
  margin: 0 7px;
}

@media screen and (max-width: 400px) {
  .footer-button,
  .join-group,
  .copyright {
    font-size: 12px;
  }
}
