.welcome-explore-header {
  width: auto;
  background: white;
  height: 180px;
  text-align: center;
  top: -100;
  font-size: 60px;
  padding-top: 60px;
}
.welcome-explore-below-header {

  // border: 1px solid red;
  height: 600px;
  background-color: white;
  padding: 0 20px;
  width: auto;
  margin: auto;

  .explore-pics {
    width: 300px;
    height: 186px;
    border-radius: 10px;
    border: 1px solid #eee;
  }

  .explore-first-section, .explore-second-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    // margin-top: 20px;
    // margin: 10px;
  }

  .explore-pic-links {
    padding: 0 10px;

  }

  p {
    text-align: center;
    font-size: 20px;
    height: 20px;
    margin: 10px;
  }

  label {
    // padding: 10px;
  }
}





//
//
//
//
// @import "../variables";
//
// .category-poster {
//   width: 100%;
//   height: 350px;
//   background-color: $meetup-gray;
//   .category-poster-inner {
//     width: 70%;
//     box-sizing: border-box;
//     padding: 20px 0;
//     margin: 0 auto;
//     h1 {
//
//       color: black;
//     }
//   }
// }
//
// .category-groups-container{
//   width: 70%;
//   margin: 0 auto;
//   box-sizing: border-box;
//   padding: 20px 0;
//   display: flex;
//   flex-wrap: wrap;
//   justify-content: flex-start;
// }
